
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');


*{
  
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "open sans",sans-serif;
}
:root{
    --main-color: blue;
    --bg-color: white;
    --text-color: black;
    --hover: hs1(260, 100%, 51%)

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;



}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

*::selection{
    color: var(--bg-color);
    background: var(--main-color);
}