
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');


*{
  
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "open sans",sans-serif;
}
:root{
    --main-color: blue;
    --bg-color: white;
    --text-color: black;
    --hover: hs1(260, 100%, 51%)

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;



}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

*::selection{
    color: var(--bg-color);
    background: var(--main-color);
}
/*navigation bar*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73;
}


.logo{
    font-size:1.61rem;
    font-weight: 600;
    color: var(--text-color);
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover{
    color:orange;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/*Home Section*/
.home{
    margin-top:25%;
    position: relative;
    width: 100%;
    min-width: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1 fr;
    align-items: center;
    gap: 1rem;
}
.home-img{
    order:3;
}
.home-img img{
    width: 100%;
}
.home-text span{
    font-size: var(--medium-font);
    font-weight: 500;

}
.home-text h1{
    font-size: var(--big-font);
}
.home-text h2{
    font-size: 1.1rem;
    font-weight: 400;
}
.social{
    display:flex;
    flex-direction: column;
}
.social a{
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
    padding-top: 25px;
    transition: background-color 0.5s;


}
.About{
    height:32em;
}
/*hover for social*/
.social a:hover{
   /* color: var(--hover)*/
   background-color: aqua;


    
}

